<% include ../partials/header %>

<div class="container">
        <h1 style="text-align:center; margin:30px;">Edit Comment</h1>
        <div style="width:30%; margin:0 auto;">
          <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <textarea class="form-control" rows="5" id="comment" name="comment[text]"><%= comment.text %></textarea>
            </div>
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
        </form>  
        <a href="/campgrounds/<%= campground_id %>">Go Back</a>
        </div>
</div> 


<% include ../partials/footer %>