<% include ../partials/header %>

<div class=container>
    <header class="jumbotron">
        <div class="cointainer">
            <h1>Welcome to YelCamp</h1>
            <p>View our campgrounds from all over the world!</p>
            <p>
                <a class="btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>
    </header>
    
    
    <div class="container" >
        <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(el){ %>
            <div class="col-sm-6 col-md-4">
                <div class="img-thumbnail">
                    <img src="<%= el.image %>" style="width: 100%">
                        <div class="caption">
                            <h4> <%= el.name %> </h4>
                        </div>
                        <p>
                            <a href="/campgrounds/<%= el._id %>" class="btn btn-primary">More Info </a>
                        </p>
                </div>
            </div>
        <% });%>
        </div>
    </div>
</div>

<% include ../partials/footer %>